<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Poppins">
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            <div class="left-side-menu">
                <div class="user-logo">USER</div>
                <div class="search-engine"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>Search users</div>
            </div>
            <div class="right-side-menu">
                <div class="menu-tab">    
                        <div class="menu-item">Reputation</div>
                        <div class="menu-item">New users</div>
                        <div class="menu-item">Votes</div>
                        <div class="menu-item">Editors</div>
                        <div class="menu-item">Moderators</div>         
                </div>
            </div>
        </div>

        <div class="information">
            <div class="box-1">
                <div class="left-side-box">
                    <div class="photo-1"></div>
                </div>
                <div class="right-side-box">
                    <div class="upper">
                    <div class="name"><h3>Lelah Nichols</h3></div>
                    <div class="script">Troy, Mi</div>
                </div>
                <div class="lower">
                    <div class="box-tag">clothes</div>
                    <div class="box-tag">steam</div>
                </div>
                </div>
            </div>
            <div class="box-2">
                <div class="left-side-box">
                    <div class="photo-1"></div>
                </div>
                <div class="right-side-box">
                    <div class="upper">
                    <div class="name"><h3>Jesus Weiss</h3></div>
                    <div class="script">Fort Worth, TX</div>
                </div>
                <div class="lower">
                    <div class="box-tag">headet</div>
                    <div class="box-tag">gadget</div>
                    <div class="box-tag">speed</div>
                    <div class="box-tag">winter</div>
                </div>
                </div>
            </div>
            <div class="box-3">
                <div class="left-side-box">
                    <div class="photo-1"></div>
                </div>
                <div class="right-side-box">
                    <div class="upper">
                    <div class="name"><h3>Annie Rice</h3></div>
                    <div class="script">Austin, TX</div>
                </div>
                <div class="lower">
                    <div class="box-tag">road</div>
                    <div class="box-tag">moutain</div>
                    <div class="box-tag">trip</div>
                    <div class="box-tag">earth</div>
                    <div class="box-tag">nature</div>
                </div>
                </div>
            </div>
            <div class="box-4">
                <div class="left-side-box">
                    <div class="photo-1"></div>
                </div>
                <div class="right-side-box">
                    <div class="upper">
                        <div class="name"><h3>Robert Brower</h3></div>
                        <div class="script">Cincinati, QH</div>
                </div>
                <div class="lower">
                    <div class="box-tag">Maintenance</div>
                    <div class="box-tag">gears</div>
                    <div class="box-tag">frames</div>
                    <div class="box-tag">repair</div>
                </div>
                </div>
            </div>
            <div class="box-5">
                <div class="left-side-box">
                    <div class="photo-1"></div>
                </div>
                <div class="right-side-box">
                    <div class="upper">
                    <div class="name"><h3>Amy Campbell</h3></div>
                    <div class="script">Warrior, AL</div>
                </div>
                <div class="lower">
                    <div class="box-tag">music</div>
                    <div class="box-tag">disk</div>
                 
                </div>
                </div>
            </div>
            <div class="box-6">
                <div class="left-side-box">
                    <div class="photo-1"></div>
                </div>
                <div class="right-side-box">
                    <div class="upper">
                    <div class="name"><h3>Anthony S. Morin</h3></div>
                    <div class="script">Lyndhurst, NJ</div>
                </div>
                <div class="lower">
                    <div class="box-tag">vintage</div>
                    <div class="box-tag">electric</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>